@import "tailwindcss";

@theme {
  --color-background: oklch(0.145 0 0);
  --color-foreground: oklch(0.985 0 0);
  /* You can add other custom theme colors here */
}

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}